<form asp-action="MusteriVeliNimettir" asp-controller="Product" method="post">

    <input type="text" name="txtVal1"  />

    </br>
    <input type="text" name="txtVal2"  />
    <br />
    <button> Yiin mi?</button>

</form>
